.gameSetting{
    -fx-background-color: #ffffffcc;
    -fx-background-radius: 8px;
}
.funcTitle{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #131313;
}
.input{
    -fx-background-color: #f1f1f1;
    -fx-border-color: #131313;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 2px 5px;
    -fx-font-size: 13px;
    -fx-effect: innershadow(gaussian, #13131333, 5, 0, 2, 2);
}