.playerTitle {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #131313;
}

.playerSelect{
    -fx-background-radius: 5px;
    -fx-background-color: #dd9922;
    -fx-padding: 10px;
}