.playSetting{
    -fx-background-color: #ffffffcc;
    -fx-background-radius: 8px;
}
.title{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.text{
    -fx-font-size: 14px;
}
.link{
    -fx-font-weight: bold;
}
.onlineTips {
    -fx-background-radius: 5px;
    -fx-border-color: #663300;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: #cc9900cc;
    -fx-padding: 10px;
    -fx-font-size: 13px;
    -fx-text-fill: #660000;
}
.loginBg{
    -fx-background-color: #66666644;
}
.loginBtn{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-text-fill: #131313;
}
.loginBtn:hover{
    -fx-background-color: #ffffff66;
}