.main{
    -fx-background-image: url("/img/bg.png");
    -fx-background-size: cover;
}
.sonFrame {
    -fx-background-color: #13131355;
}
#sonFrameSource{
    -fx-background-color: #131313;
}
#version{
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}
#selectDirBtn{
    -fx-font-size: 12px;
}
.versionChoiceBox{
    -fx-background-color: lightblue;
    -fx-font-size: 15px;
    -fx-padding: -5px;
}
.download{
    -fx-text-alignment: center;
    -fx-background-color: #66B6D1;
    -fx-border-color: #66B6FF;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, #13131388, 10, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.leftMenu{
    -fx-background-color: #f1f1f122;
}
