.sonFrame {
    -fx-background-color: #13131355;
}
#sonFrameSource{
    -fx-background-color: #131313;
}
#version{
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}
#selectDirBtn{
    -fx-font-size: 12px;
}
.versionChoiceBox{
    -fx-background-color: lightblue;
    -fx-font-size: 15px;
    -fx-padding: -5px;
}
.download{
    -fx-text-alignment: center;
}

