.main{
    -fx-background-image: url("/img/bg.png");
    -fx-background-size: cover;
}
.sonFrame {
    -fx-background-color: #13131355;
    -fx-opacity: 0;
}
#sonFrameSource{
    -fx-background-color: #131313;
}
#version{
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
}
.versionChoiceBox{
    -fx-background-color: #66B6D1;
    -fx-font-size: 15px;
    -fx-padding: -5px;
    -fx-effect: dropshadow(gaussian, #13131388, 5, 0, 0, 2);
}
.startBtn{
    -fx-background-color: #66B6D1;
    -fx-border-color: linear-gradient(to top,transparent, #131313,transparent);
    -fx-border-width: 0 1 0 0;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.startBtn:hover{
    -fx-background-color: #7ebed4;
}
.download{
    -fx-text-alignment: center;
    -fx-background-color: #30882a;
    -fx-border-color: #257720;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, #13131388, 10, 0, 0, 2);
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}
.download:hover{
    -fx-background-color: #3b8a36;
}
.leftMenu{
    -fx-background-color: #f1f1f122;
}

